body{
    background-color: blue;
}
img{
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.dragon{
    border-radius: 5px;
}
.leoperd{
    border-radius: 10px;
}
.dough{
    border-radius: 20px;
}